<div class="container pt-5">
  <hr>
</div>
<div class="footer pb-5">
  <div class="container">
      <div class="row py-5">
          <div class="col-md-6">
              <h5>Liên hệ</h5>
              <ul class="list-unstyled">
                  <li><span>Công nghệ giáo dục VN Education</span></li>
                  <li><span>Hotline: </span><a href="tel:0944502222" class="link">0398913712</a></li>
                  <li><span>Email: </span><a class="link" href="mailto:vieeducompany@gmail.com">vneducation@gmail.com</a></li>
                  <li><span>Địa chỉ: </span>196 Phường Tân An, Thị xã Lagi, Tỉnh Bình Thuận</li>
              </ul>
          </div>
          <div class="col-md-6">
<!--                                    <div class="mb-3">-->
<!--                                        <h5>Kết nối với chúng tôi</h5>-->
<!--                                        <ul class="list-unstyled d-flex">-->
<!--                                            <li class="mr-3"><a href=""><img src="/images/facebook-icon.png" alt="" height="36px"></a></li>-->
<!--                                            <li class="mr-3"><a href=""><img src="/images/facebook-icon.png" alt="" height="36px"></a></li>-->
<!--                                            <li class="mr-3"><a href=""><img src="/images/facebook-icon.png" alt="" height="36px"></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
              <h5>Tải ứng dụng dành cho học sinh</h5>

              <div class="d-flex align-self-stretch mt-3">

                  <div class="mr-3 mr-2">
                      <img src="https://eduvietnam.vn/images/QR.png" alt="" width="120px"
                           style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.14), 0 6px 10px 0 rgba(0,0,0,.098), 0 1px 18px 0 rgba(0,0,0,.084);">
                  </div>
                  <div class="d-flex justify-content-between flex-column ">
                      <div class="mr-3">
                          <a href="#" target="_blank">
                              <img src="https://eduvietnam.vn/images/appstore.jpeg" alt="" width="150px">
                          </a>
                      </div>
                      <div>
                          <a href="#" target="_blank">
                              <img src="https://eduvietnam.vn/images/googleplay.jpeg" alt="" width="150px">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <hr>

      <div class="d-flex justify-content-between align-items-center flex-wrap">
          <a href="#" class="link">Chính sách bảo mật</a>
          <div>© 2021 VNeducation, Inc. All rights reserved.</div>
      </div>
  </div>
</div>



<div class="overlay"></div>



<script src="/assets/ba6b787b/jquery.js"></script>
<script src="/assets/a76faa35/yii.js"></script>
<script src="/assets/d670eed5/js/bootstrap.bundle.js"></script>
<script>$(document).ready(function () {
$('#dismiss, .overlay').on('click', function () {
// hide sidebar
$('#sidebar').removeClass('active');
// hide overlay
$('.overlay').removeClass('active');
});

$('#sidebarCollapse').on('click', function () {
// open sidebar
$('#sidebar').addClass('active');
// fade in the overlay
$('.overlay').addClass('active');
$('.collapse.in').toggleClass('in');
$('a[aria-expanded=true]').attr('aria-expanded', 'false');
});
});</script>
