
<!-- <div [mathjax]="content"></div> -->
<div class="container my-3 my-md-5">
  <h4 class=""><b>Ứng dụng dành cho học sinh</b></h4>
  <div class="row align-content-sm-start">
      <div class="col-12 col-xl-6">
          <p>1. Học tập trực tuyến theo lớp đã đăng ký, xem lại bài giảng nếu vắng học.</p>

          <p>2. Kiểm tra, thi, thi thử THPT trong nhà trường:</p>
          <ul>
              <li>Làm bài kiểm tra, thi, thi thử trực tuyến được giao ở lớp học trực tiếp hoặc theo khung giờ thầy/cô giảng dạy quy định.</li>
              <li>Được chấm bài và trả bài ngay sau khi hoàn thành hoặc hết thời gian kiểm tra.</li>
              <li>Bài làm và kết quả được lưu trong tài khoản học sinh và được thông báo đến người có trách nhiệm quản lý.</li>
              <li>Được cung cấp hệ thống lý thuyết, bài giảng nhà trường đầy đủ phục vụ quá trình học.</li>
          </ul>

          <p>3. Tự đánh giá năng lực bằng đề kiểm tra, đề thi từ hệ thống.</p>
          <ul>
              <li>Đề kiểm tra, đề thi thử được xuất ngẫu nhiên trong ngân hàng với ma trận đề được thiết lập sẵn bám sát chương trình giáo dục phổ thông theo thông tư 32/2018/TT-BGDĐT.</li>
              <li>Mỗi bài làm đều được chấm điểm, trả bài và cung cấp đáp án chi tiết.</li>
          </ul>

          <p>4. Học tập theo chuyên đề:</p>
          <ul>
              <li>Bài giảng theo chuyên đề.</li>
              <li>Luyện tập theo chuyên đề đủ 4 mức độ.</li>
          </ul>

      </div>
      <div class="col-12 col-xl-6 pt-5">
          <img src="https://eduvietnam.vn/images/student-application.png" alt="" class="w-100">
      </div>
  </div>
</div>


