<div class="container student-application  my-3 my-md-5">
  <h4 class=""><b>Ứng dụng dành cho phụ huynh học sinh</b></h4>

  <div class="row mt-5 align-content-sm-start">
      <div class="col-md-8">
          <p>1. Theo dõi quá trình học tập của học sinh tại trường</p>

          <p>2. Thông tin các khóa học</p>

          <p>3. Phản hồi ý kiến</p>


          <div class="d-flex flex-wrap">
            <button type="button" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i>Click để tải ứng dụng</button>

              <a class="btn-link btn flex-grow-1" target="_blank" href="#">Trang phản hồi ý kiến dành cho PHHS <span class="fa fa-link"></span> </a>
          </div>
      </div>
      <div class="col-md-4">
          <img src="https://img.freepik.com/free-vector/family-with-pets-spending-time-together_52683-37177.jpg?size=626&ext=jpg" alt="" width="100%">
      </div>
  </div>
</div>
