<div class="navbar d-none d-lg-flex">
  <ul class="list-unstyled components d-flex justify-content-between">
    <li [class.active]="router.isActive('/welcome', true)">
      <a
        href="/"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>Trang chủ</span>
      </a>
    </li>
    <li [class.active]="router.isActive('/hocsinh', true)">
      <a
        [routerLink]="['/hocsinh']"
        routerLinkActive="router-link-active"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>Học sinh</span>
      </a>
    </li>
    <li [class.active]="router.isActive('/thay-co-giao', true)">
      <a
        href="/thay-co-giao"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>Thầy/cô giáo</span>
      </a>
    </li>
    <li [class.active]="router.isActive('/ban-giam-hieu', true)">
      <a
        href="/ban-giam-hieu"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>Ban giám hiệu</span>
      </a>
    </li>
    <li [class.active]="router.isActive('/phu-huynh-hoc-sinh', true)">
      <a
        href="/phu-huynh-hoc-sinh"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>PHHS</span>
      </a>
    </li>
    <li
      [class.active]="router.isActive('/gioi-thieu', true)"
      class="d-none d-xl-block"
    >
      <a
        href="/gioi-thieu"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>Giới thiệu</span>
      </a>
    </li>
    <li
      [class.active]="router.isActive('/lien-he', true)"
      class="d-none d-xl-block"
    >
      <a
        href="/lien-he"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <span>Liên hệ</span>
      </a>
    </li>
  </ul>
  <div
    class="account not-logged-in position-relative ml-auto"
    *ngIf="noLogin()"
  >
    <a
      href="/dang-nhap"
      class="btn btn-outline-success ml-2"
      style="margin-right: 10px"
      >Đăng nhập</a
    >
    <a href="/dang-ky" class="btn btn-success">Đăng ký</a>
  </div>

  <div class="dropdown" *ngIf="!noLogin()">
    <div style="color: #b5b5c3 !important" id="dropdownMenu2"
    data-bs-toggle="dropdown"
    class="dropdown-toggle"
    aria-expanded="false">
      Hi,
      <span
        style="
          background-color: #c9f7f5;
          color: #1bc5bd;
          padding: 5px;
          border-radius: 5px;
        "
        >{{ username() }}</span
      >
    </div>
    <!-- <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenu2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
    <div style="color: #b5b5c3 !important" id="dropdownMenu2"
    data-bs-toggle="dropdown"
    class="dropdown-toggle"
    aria-expanded="false">
      Hi,
      <span
        style="
          background-color: #c9f7f5;
          color: #1bc5bd;
          padding: 5px;
          border-radius: 5px;
        "
        >{{ username() }}</span
      >
    </div>
    </button> -->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li></li>
      <li>
        <button class="dropdown-item" type="button" (click)="logout()">Đăng xuất</button>
      </li>
    </ul>
  </div>

  <!-- <div
    class="account not-logged-in position-relative ml-auto"
    *ngIf="!noLogin()"
  >
    <div style="color: #b5b5c3 !important">
      Hi,
      <span
        style="
          background-color: #c9f7f5;
          color: #1bc5bd;
          padding: 5px;
          border-radius: 5px;
        "
        >{{ username() }}</span
      >
    </div>
    </div> -->
    </div>


