<div class="main-content">
  <div class="container">
                          </div>
  <div class="bg-white py-2 position-sticky fixed-top" style="z-index: 5">
<div class="container">
<div class="row">

          <div class="col-6 col-md-3 mb-2">
  <a href="/luyen-tap/1"
     class="btn btn-success w-100">Nhận biết</a>
</div>
              <div class="col-6 col-md-3 mb-2">
  <a href="/luyen-tap/1"
     class="btn btn-outline-success w-100">Thông hiểu</a>
</div>
              <div class="col-6 col-md-3 mb-2">
  <a href="/luyen-tap/1"
     class="btn btn-outline-success w-100">Vận dụng</a>
</div>
              <div class="col-6 col-md-3 mb-2">
  <a href="/luyen-tap/1"
     class="btn btn-outline-success w-100">Vận dụng cao</a>
</div>
      </div>
</div>
</div>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <img src="https://eduvietnam.vn/images/vip-upgrade.png" alt="" class="w-100">
          <p class="text-center my-5">Đề tiếp tục làm bài, bạn phải <b>Đăng ký tài khoản Vip</b></p>

          <a href="/user/upgrade-account" class="btn btn-success w-100">Đăng ký tài khoản
              Vip</a>
      </div>
  </div>

</div>






