<div class="container">
  <h4 class="mt-3 mb-4"><b>Vie Education - Lớp học của tôi</b></h4>
  <div class="d-flex justify-content-center my-3 my-md-5">

 <a href="http://localhost:9000/" class="btn btn-success">Tham gia lớp học của tôi</a>
  </div>
  </div>
  <div class='mb-4 container'>
    <div id="w0" class="list-view">
    <div class="empty">
     <div class="container">
      <h4 class="mt-3 mb-4"><b>Bài kiểm tra của tôi</b></h4>
  </div>
  <div class='mb-4 container'><div id="w0" class="list-view"><div class="row"><div class="col-md-6 col-xl-4 mb-4" data-key="3537"><div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="rounded-circle border border-success p-3"><img src="https://eduvietnam.vn/images/subject-6.png" alt="" width="32px" height="32px"></div>
              <div class="alert alert-success font-smaller btn-sm px-2 py-1 mb-0">Đang diễn ra</div>
          </div>
          <h5 class="title-overflow">Kiểm tra 15 phút</h5>
          <div class="d-flex mt-2">
              <div class="alert alert-secondary mr-2 flex-grow-1 text-nowrap text-center">Tổng số câu:
                  <span class="text-success">
                      40                </span>
              </div>

          </div>
          <p><span class="text-gray">Bắt đầu làm bài: </span>2021-12-12 03:10</p>

          <a class="btn btn-success w-100"
          href="/quiz-template/result-overview?quizAssignmentId=3537">Làm bài</a>

                          </div>
  </div>
  </div>
  <div class="col-md-6 col-xl-4 mb-4" data-key="3536"><div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="rounded-circle border border-success p-3"><img src="https://eduvietnam.vn/images/subject-6.png" alt="" width="32px" height="32px"></div>
              <div class="alert alert-warning font-smaller btn-sm px-2 py-1 mb-0">Kiểm tra sắp tới</div>
          </div>
          <h5 class="title-overflow">Kiểm tra giữa kỳ 1 lý(cb)</h5>
          <div class="d-flex mt-2">
              <div class="alert alert-secondary mr-2 flex-grow-1 text-nowrap text-center">Tổng số câu:
                  <span class="text-success">
                      35                </span>
              </div>

          </div>
          <p><span class="text-gray">Bắt đầu làm bài: </span>2021-12-11 10:21</p>

          <a class="btn btn-success w-100"
          href="/quiz-template/result-overview?quizAssignmentId=3537">Làm bài</a>


                          </div>
  </div>
  </div>
  <div class="col-md-6 col-xl-4 mb-4" data-key="3535"><div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="rounded-circle border border-success p-3"><img src="https://eduvietnam.vn/images/subject-6.png" alt="" width="32px" height="32px"></div>
              <div class="alert alert-warning font-smaller btn-sm px-2 py-1 mb-0">Kiểm tra sắp tới</div>
          </div>
          <h5 class="title-overflow">Tính đơn điệu(cb)</h5>
          <div class="d-flex mt-2">
              <div class="alert alert-secondary mr-2 flex-grow-1 text-nowrap text-center">Tổng số câu:
                  <span class="text-success">
                      10                </span>
              </div>

          </div>
          <p><span class="text-gray">Bắt đầu làm bài: </span>2021-12-11 10:15</p>

          <a class="btn btn-success w-100"
          href="/quiz-template/result-overview?quizAssignmentId=3537">Làm bài</a>


                          </div>
      </div>
    </div>
    <div class="empty">

     </div>
  </div>
</div>



