<div>

  <div class="">
      <div class="container">

          <div class="quiz-title">
              <h5 class="my-4">Tính đơn điệu(CB)</h5>
          </div>

                              <div class="quiz-content mb-3" data-question-id="20558" id="question-20558">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 1: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="20558">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Cho hàm số $y=2-x$. Khẳng định nào sau đây là khẳng định đúng?                                 </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20558"
                                     class="form-check-input"
                                     value="93737"
                                     type="radio"
                                     name="answers[20558]"
                                     id="answer-93737"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-93737">
                                  Hàm số nghịch biến trên khoảng $(-\infty ; 2)$.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20558"
                                     class="form-check-input"
                                     value="93738"
                                     type="radio"
                                     name="answers[20558]"
                                     id="answer-93738"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-93738">
                                  Hàm số đồng biến trên khoảng $(-\infty ;-1)$.                                     </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20558"
                                     class="form-check-input"
                                     value="93739"
                                     type="radio"
                                     name="answers[20558]"
                                     id="answer-93739"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-93739">
                                  Hàm số nghịch biến trên khoảng $(-\infty ;+\infty)$.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20558"
                                     class="form-check-input"
                                     value="93740"
                                     type="radio"
                                     name="answers[20558]"
                                     id="answer-93740"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-93740">
                                  Hàm số đồng biến trên khoảng $(-\infty ;+\infty)$.                                    </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="20657" id="question-20657">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 2: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="20657">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Hàm số $y=\frac{{ "{" }}1{{ "}" }}{{ "{" }}3{{ "}" }} x^{{ "{" }}3{{ "}" }}-2 x^{{ "{" }}2{{ "}" }}+3 x+1$ đồng biến trên khoảng nào sau đây?
                          </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20657"
                                     class="form-check-input"
                                     value="94133"
                                     type="radio"
                                     name="answers[20657]"
                                     id="answer-94133"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-94133">
                                  $(1 ; 3)$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20657"
                                     class="form-check-input"
                                     value="94134"
                                     type="radio"
                                     name="answers[20657]"
                                     id="answer-94134"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-94134">
                                  $(2 ;+\infty)$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20657"
                                     class="form-check-input"
                                     value="94135"
                                     type="radio"
                                     name="answers[20657]"
                                     id="answer-94135"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-94135">
                                  $(-\infty ; 0)$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="20657"
                                     class="form-check-input"
                                     value="94136"
                                     type="radio"
                                     name="answers[20657]"
                                     id="answer-94136"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-94136">
                                  $(0 ; 3)$                                    </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21066" id="question-21066">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 3: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21066">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-8 ">
                              Cho hàm số $y=f(x)$. Hàm số $y=f^{{ "{" }}\prime{{ "}" }}(x)$ có đồ thị như hình vẽ. Hàm số $y=f\left(x^{{ "{" }}2{{ "}" }}-1\right)$ đồng biến trên khoảng:
                          </div>
                          <div class="col-md-4 ">
                              <div class='img'><img height='200px' alt='' src='https://media.eduvietnam.vn/images/2021/04/15/FkoifmTwxVe-FjTFdxU3CKRUl5nawPzc.png'/></div>
                          </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21066"
                                     class="form-check-input"
                                     value="95769"
                                     type="radio"
                                     name="answers[21066]"
                                     id="answer-95769"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95769">
                                  $(0 ; 1) $                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21066"
                                     class="form-check-input"
                                     value="95770"
                                     type="radio"
                                     name="answers[21066]"
                                     id="answer-95770"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95770">
                                  $(1 ; \sqrt{{ "{" }}2{{ "}" }})$
                                 </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21066"
                                     class="form-check-input"
                                     value="95771"
                                     type="radio"
                                     name="answers[21066]"
                                     id="answer-95771"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95771">
                                  $(-1 ; 1)$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21066"
                                     class="form-check-input"
                                     value="95772"
                                     type="radio"
                                     name="answers[21066]"
                                     id="answer-95772"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95772">
                                  $(-\infty ;-\sqrt{{ "{" }}2{{ "}" }})$
                                                    </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21081" id="question-21081">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 4: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21081">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-8 ">
                              Cho hàm số $f(x)$ liên tục trên $\mathbb{{ "{" }}R{{ "}" }}$, hàm số $y=f^{{ "{" }}\prime{{ "}" }}(x)$ có đồ thị như hình vẽ. Xét hàm số $h(x)=2 f(3 x+1)-9 x^{{ "{" }}2{{ "}" }}-6 x+4 .$ Hãy chọn khẳng định đúng.

                          </div>
                          <div class="col-md-4 ">
                              <div class='img'><img height='200px' alt='' src='https://media.eduvietnam.vn/images/2021/04/15/BOj74FrlM2dFrFJKiclZ0juur13-b8pS.png'/></div>
                          </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21081"
                                     class="form-check-input"
                                     value="95829"
                                     type="radio"
                                     name="answers[21081]"
                                     id="answer-95829"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95829">
                                  Hàm số $h(x)$ nghịch biến trên $\mathbb{{ "{" }}R{{ "}" }}$.
                                 </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21081"
                                     class="form-check-input"
                                     value="95830"
                                     type="radio"
                                     name="answers[21081]"
                                     id="answer-95830"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95830">
                                  Hàm số $h(x)$ nghịch biến trên $\left(-1 ; \frac{{ "{" }}1{{ "}" }}{{ "{" }}3{{ "}" }}\right)$.
                                         </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21081"
                                     class="form-check-input"
                                     value="95831"
                                     type="radio"
                                     name="answers[21081]"
                                     id="answer-95831"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95831">
                                  Hàm số $h(x)$ đồng biến trên $\left(-1 ; \frac{{ "{" }}1{{ "}" }}{{ "{" }}3{{ "}" }}\right)$.
                                                     </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21081"
                                     class="form-check-input"
                                     value="95832"
                                     type="radio"
                                     name="answers[21081]"
                                     id="answer-95832"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-95832">
                                  Hàm số $h(x)$ đồng biến trên $\mathbb{{ "{" }}R{{ "}" }}$.
                                                            </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21124" id="question-21124">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 5: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21124">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Cho hàm số $f(x)=x^{{ "{" }}3{{ "}" }}-6 x^{{ "{" }}2{{ "}" }}+2021$. Khẳng định nào đúng?
                                               </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21124"
                                     class="form-check-input"
                                     value="96001"
                                     type="radio"
                                     name="answers[21124]"
                                     id="answer-96001"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96001">
                                  Hàm số nghịch biến trên khoảng $(0 ; 4)$.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21124"
                                     class="form-check-input"
                                     value="96002"
                                     type="radio"
                                     name="answers[21124]"
                                     id="answer-96002"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96002">
                                  Hàm số nghịch biến trên khoảng $(-2021 ; 0)$.                                     </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21124"
                                     class="form-check-input"
                                     value="96003"
                                     type="radio"
                                     name="answers[21124]"
                                     id="answer-96003"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96003">
                                  Hàm số có điểm cực đại $x=4$.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21124"
                                     class="form-check-input"
                                     value="96004"
                                     type="radio"
                                     name="answers[21124]"
                                     id="answer-96004"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96004">
                                  Hàm số đồng biến trên khoảng $(0 ;2021)$.                                    </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21216" id="question-21216">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 6: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21216">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Có bao nhiêu giá trị nguyên của tham số $m \in[-2021 ; 2022]$ để hàm số $y=\sqrt{{ "{" }}x^{{ "{" }}2{{ "}" }}+1{{ "}" }}-m x-1$ đồng biến trên $(-\infty ;+\infty)$?
                                            </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21216"
                                     class="form-check-input"
                                     value="96369"
                                     type="radio"
                                     name="answers[21216]"
                                     id="answer-96369"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96369">
                                  2020.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21216"
                                     class="form-check-input"
                                     value="96370"
                                     type="radio"
                                     name="answers[21216]"
                                     id="answer-96370"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96370">
                                  2021.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21216"
                                     class="form-check-input"
                                     value="96371"
                                     type="radio"
                                     name="answers[21216]"
                                     id="answer-96371"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96371">
                                  2022.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21216"
                                     class="form-check-input"
                                     value="96372"
                                     type="radio"
                                     name="answers[21216]"
                                     id="answer-96372"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-96372">
                                  2023.                                    </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21432" id="question-21432">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 7: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21432">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Hỏi có tất cả bao nhiêu giá trị nguyên của tham số $m$ thuộc đoạn $[-2021 ; 2021]$ để hàm số $y=x^{{ "{" }}3{{ "}" }}-6 x^{{ "{" }}2{{ "}" }}+m x+1$ đồng biến trên khoảng $(0 ;+\infty)$?
                                         </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21432"
                                     class="form-check-input"
                                     value="97233"
                                     type="radio"
                                     name="answers[21432]"
                                     id="answer-97233"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97233">
                                  2011.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21432"
                                     class="form-check-input"
                                     value="97234"
                                     type="radio"
                                     name="answers[21432]"
                                     id="answer-97234"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97234">
                                  2010.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21432"
                                     class="form-check-input"
                                     value="97235"
                                     type="radio"
                                     name="answers[21432]"
                                     id="answer-97235"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97235">
                                  2021.                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21432"
                                     class="form-check-input"
                                     value="97236"
                                     type="radio"
                                     name="answers[21432]"
                                     id="answer-97236"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97236">
                                  2020.                                    </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21471" id="question-21471">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 8: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21471">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Tìm tập hợp tất cả các giá trị của tham số thực $m$ để hàm số $y=\frac{{ "{" }}m x-3{{ "}" }}{{ "{" }}2 x-m{{ "}" }}$ đồng biến trên từng khoảng xác định.
                                                </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21471"
                                     class="form-check-input"
                                     value="97389"
                                     type="radio"
                                     name="answers[21471]"
                                     id="answer-97389"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97389">
                                   $(-\sqrt{{ "{" }}6{{ "}" }} ; \sqrt{{ "{" }}6{{ "}" }})$
                                                        </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21471"
                                     class="form-check-input"
                                     value="97390"
                                     type="radio"
                                     name="answers[21471]"
                                     id="answer-97390"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97390">
                                  $[-\sqrt{{ "{" }}6{{ "}" }} ; \sqrt{{ "{" }}6{{ "}" }})$
                                              </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21471"
                                     class="form-check-input"
                                     value="97391"
                                     type="radio"
                                     name="answers[21471]"
                                     id="answer-97391"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97391">
                                  $[-6 ; 6]$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21471"
                                     class="form-check-input"
                                     value="97392"
                                     type="radio"
                                     name="answers[21471]"
                                     id="answer-97392"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97392">
                                  $(-\sqrt{{ "{" }}6{{ "}" }} ; \sqrt{{ "{" }}6{{ "}" }}]$
                                                       </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21502" id="question-21502">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 9: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21502">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Tập hợp các giá trị thực của $m$ để hàm số $y=\frac{{ "{" }}3 x-1-2 m{{ "}" }}{{ "{" }}x-m{{ "}" }}$ nghịch biến trên khoảng $(5 ;+\infty)$ là:
                          </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21502"
                                     class="form-check-input"
                                     value="97513"
                                     type="radio"
                                     name="answers[21502]"
                                     id="answer-97513"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97513">
                                   $[1 ;+\infty)$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21502"
                                     class="form-check-input"
                                     value="97514"
                                     type="radio"
                                     name="answers[21502]"
                                     id="answer-97514"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97514">
                                  $(1 ; 5]$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21502"
                                     class="form-check-input"
                                     value="97515"
                                     type="radio"
                                     name="answers[21502]"
                                     id="answer-97515"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97515">
                                  $(1 ; 5)$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21502"
                                     class="form-check-input"
                                     value="97516"
                                     type="radio"
                                     name="answers[21502]"
                                     id="answer-97516"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97516">
                                  $(1 ;+\infty)$                                    </label>
                          </div>
                                                  </div>
              </div>

                                  <div class="quiz-content mb-3" data-question-id="21513" id="question-21513">
                  <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="d-flex align-items-center">
                              <b class="mr-2 question-number">Câu 10: </b>
                              <button class="button-reset btnReport" data-toggle="modal" data-q-id="21513">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                       fill="currentColor" class="bi bi-exclamation-circle-fill"
                                       viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row question mb-3">

                                                      <div class="col-md-12">
                              Giá trị của $m$ để hàm số $y=\frac{{ "{" }}m x+1{{ "}" }}{{ "{" }}x+4 m{{ "}" }}$ đồng biến trên khoảng $(0 ;+\infty)$ là:
                          </div>
                                                  </div>
                  <div class="row answer ml-1">
                                                      <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21513"
                                     class="form-check-input"
                                     value="97557"
                                     type="radio"
                                     name="answers[21513]"
                                     id="answer-97557"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97557">
                                  $m>\frac{{ "{" }}1{{ "}" }}{{ "{" }}2{{ "}" }}$
                                                   </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21513"
                                     class="form-check-input"
                                     value="97558"
                                     type="radio"
                                     name="answers[21513]"
                                     id="answer-97558"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97558">
                                  $\forall m$                                    </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21513"
                                     class="form-check-input"
                                     value="97559"
                                     type="radio"
                                     name="answers[21513]"
                                     id="answer-97559"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97559">
                                  $m \geq \frac{{ "{" }}1{{ "}" }}{{ "{" }}2{{ "}" }}$
                                                   </label>
                          </div>
                                                          <div class="form-check col-md-6 mb-2">
                              <input data-question-id="21513"
                                     class="form-check-input"
                                     value="97560"
                                     type="radio"
                                     name="answers[21513]"
                                     id="answer-97560"
                                     style="transform: scale(1.2)"

                              >
                              <label class="form-check-label" for="answer-97560">
                                  $\left[\begin{{ "{" }}array{{ "}" }}{{ "{" }}l{{ "}" }}m<-\frac{{ "{" }}1{{ "}" }}{{ "{" }}2{{ "}" }} \\ m>\frac{{ "{" }}1{{ "}" }}{{ "{" }}2{{ "}" }}\end{{ "{" }}array{{ "}" }}\right.$
                                                                   </label>
                          </div>
                                                  </div>
              </div>


      </div>
  </div>

  <hr>
  <div class="quiz-answer-sheet d-flex flex-wrap mb-3 p-3 container">
                      <a href="#question-20558"
             class="question-mark-20558 empty  "><span>1</span></a>
                          <a href="#question-20657"
             class="question-mark-20657 empty  "><span>2</span></a>
                          <a href="#question-21066"
             class="question-mark-21066 empty  "><span>3</span></a>
                          <a href="#question-21081"
             class="question-mark-21081 empty  "><span>4</span></a>
                          <a href="#question-21124"
             class="question-mark-21124 empty  "><span>5</span></a>
                          <a href="#question-21216"
             class="question-mark-21216 empty  "><span>6</span></a>
                          <a href="#question-21432"
             class="question-mark-21432 empty  "><span>7</span></a>
                          <a href="#question-21471"
             class="question-mark-21471 empty  "><span>8</span></a>
                          <a href="#question-21502"
             class="question-mark-21502 empty  "><span>9</span></a>
                          <a href="#question-21513"
             class="question-mark-21513 empty  "><span>10</span></a>
                  </div>



  <div class="">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center py-2">
              <div class="d-flex flex-column">
                  <div>Thời gian làm bài: <b id="remaining-time"></b></div>
                  <div class="progress mt-2" style="width: 220px; height: .5rem">
                      <div class="progress-bar bg-success" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
              <!-- <button id="submitQuiz" class="btn btn-success px-lg-5" type="submit" >Nộp bài</button> -->
              <!-- Button trigger modal -->
<button type="submit" class="btn btn-success px-lg-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Nộp bài
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" >
  <div class="modal-dialog ">
    <div class="modal-content">


      <div class="modal-content py-3 px-2 p-lg-5">
        <div class="modal-body d-flex flex-column text-center justify-content-center align-items-center">
            <img src="https://eduvietnam.vn/images/submit.svg" alt="" class="w-50">
            <b class="py-3">Bạn phải hoàn thành bài kiểm tra mới được phép nộp bài?</b>
            <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">OK</button>
        </div>
        <input type="hidden" name="notAllowSubmitQuiz" id="notAllowSubmitQuizInput"/>
    </div>

  </div>
</div>
          </div>

<script>

</script>



      </div>
  </div>








</div>
