<div class="container my-3 my-md-5">
  <h4 class=""><b>Quản lý nhà trường</b></h4>
  <div class="row align-content-sm-start">
      <div class="col-12 col-xl-6">
          <p>1. Quản lý tất cả hoạt động dạy & học trong nhà trường:</p>


          <ul>
              <li>Quản lý hoạt động giảng dạy của thầy cô giáo như: Kiểm tra đột xuất giờ dạy, xem lại video bài giảng, xem lại bài kiểm tra đã giao…</li>
              <li>Quản lý tất cả quá trình học tập của học sinh: Kiểm tra đột xuất giờ học, xem lại hoạt động, tương tác, xem học sinh làm bài trực tiếp hoặc lại chi tiết những bài kiểm tra, bài của học sinh.</li>

          </ul>

          <p>2. Khảo thí trực tuyến tự động đơn giản và rất nhanh chóng</p>
          <p>3. Thống kê kết quả giảng dạy và học tập</p>
          <p>4. Tương tác với phụ huynh học sinh</p>

      </div>
      <div class="col-12 col-xl-6 pt-5">
          <img src="https://eduvietnam.vn/images/bgh.png" alt="" class="w-100">
      </div>
  </div>
</div>
