
<div class="main-content">
  <div class="container"></div>
  <div class="row m-lg-2">
    <div class="col-md-8 mt-3 m-10">

      <h4 class="mt-3 header">
        <b class="text-uppercase">PHONG TRÀO GIẢI PHÓNG DÂN TỘC VÀ TỔNG KHỞI NGHĨA THÁNG TÁM 1939- 1945.</b>
      </h4>
      <div class="page-section-container header-top">
        <div class="mb-5 page-section" id="0">
          <h5>
            <b>Tình hình Việt Nam trong những năm 1939 - 1945</b>
            <br/>
          </h5>
        </div>
        <div style="white-space: pre-wrap">
          <b>1. Tình hình chính trị</b>
          <br/>
          <b>a. Thế giới:</b>
          <br/>
<br/>
- 1/9/1939: Chiến tranh thế giới thứ hai bùng nổ.
<br/>
- Tháng 6/1940, Đức kéo vào Pháp, Pháp đầu hàng Đức, thực hiện chính sách thù địch đối với các lực lượng tiến bộ trong nước và phong trào cách mạng ở thuộc địa.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/uZ6AGuMYkKYWUkRtzIxLnyQvyeMWoOrd.png" alt="">
</div>
Quân Đức tiến vào Pari (tháng 6/1940)
<br/>
<b>b. Việt Nam:
</b>
<br/>
- Pháp tăng cường vơ vét, bóc lột nhân dân Việt Nam để phục vụ cho cuộc chiến tranh đế quốc.
<br/>
- Tháng 9/1940, Nhật vượt biên giới Việt - Trung vào miền Bắc Việt Nam, Pháp nhanh chóng đầu hàng.
<br/>
⇒ Pháp cấu kết với Nhật vơ vét, bóc lột nhân dân Việt Nam.
<br/>
- Tháng 3/1945, Nhật đảo chính Pháp.
<br/>
⇒ Lợi dụng cơ hội đó, các đảng phái chính trị ở Việt Nam tăng cường hoạt động, quần chúng nhân dân sục sôi khí thế, sẵn sàng vùng lên khởi nghĩa.
<br/>
<b>2. Tình hình kinh tế - xã hội</b>
<br/>
<b>a. Kinh tế:</b>
<br/>
* Chính sách của Pháp:
<br/>
- Tăng cường vơ vét sức người, sức của của nhân dân Việt Nam để phục vụ cho chiến tranh thế giới thứ hai.
<br/>
- Thi hành chính sách “kinh tế chỉ huy”.
<br/>
* Chính sách của Nhật:

<br/>
- Cướp đoạt ruộng đất để lập đồn điền, bắt nhân dân nhổ lúa, ngô trồng đay, thầu dầu phục vụ cho chiến tranh.

<br/>
- Buộc Pháp xuất cảng các nguyên liệu chiến tranh sang Nhật với giá rẻ như: than, sắt, cao su,..
<br/>
- Đầu tư, mở mang một số ngành công nhân phục vụ nhu cầu quân sự như: khai thác sắt, crôm,...
<br/>
⇒ Hậu quả:
<br/>
+ Tài nguyên thiên nhiên của Việt Nam ngày càng vơi cạn.
<br/>
+ Kinh tế Việt Nam nghèo nàn, lạc hậu, phát triển mất cân đối.
<br/>
<b>b. Xã hội:</b>
<br/>
- Dưới hai tầng áp bức Pháp – Nhật, đời sống của các tầng lớp nhân dân Việt Nam ngày càng khổ cực, bần cùng.
<br/>
- Nhiều cuộc đấu tranh của nhân dân Việt Nam chống lại thực dân Pháp và phát xít Nhật diễn ra.
<br/>
⇒ Chuyển biến về tình hình thế giới và trong nước đòi hỏi Đảng Cộng sản Đông Dương phải kịp thời nắm bắt, đề ra đường lối đấu tranh.
<br/>
<b>Phong trào giải phóng dân tộc từ tháng 9/1939 đến tháng 3/1945</b>
<br/>
<b>1. Hội nghị Ban Chấp hành Trung ương Đảng Cộng sản Đông Dương tháng 11/1939</b>
<br/>
<b>a. Hoàn cảnh:</b>
<br/>
- Chiến tranh thế giới thứ hai bùng nổ, tình hình thế giới có nhiều chuyển biến phức tạp.
<br/>
- Thực dân Pháp tăng cường vơ vét, bóc lột, đàn áp nhân dân Việt Nam.
<br/>
⇒ Đòi hỏi Đảng phải kịp thời nắm bắt tình hình, đề ra đường lối đấu tranh đúng đắn.
<br/>
- Tháng 11/1939, Hội nghị Ban Chấp hành Trung ương Đảng họp tại Bà Điểm (Hóc Môn) do Tổng bí thư Nguyễn Văn Cừ chủ trì.
<br/>

<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/Vp4g4lrAIHa8Gmp1Bvv2AgXXmYra6XFJ.png" alt="">
</div>
<br/>
Tổng bí thư Nguyễn Văn Cừ
<br/>
<b>b. Nội dung hội nghị:</b>
<br/>
- Nhiệm vụ, mục tiêu trước mắt là: đánh đổ đế quốc và tay sai, giải phóng các dân tộc ở Đông Dương, làm cho Đông Dương hoàn toàn độc lập.
<br/>
- Tạm gác lại khẩu hiệu cách mạng ruộng đất, tịch thu ruộng đất của thực dân đế quốc và địa chủ, phản bội quyền lợi dân tộc, chông tô cao, lãi nặng.
<br/>
- Thay khẩu hiệu “Thành lập chính quyền Xô Viết công nông binh” bằng khẩu hiệu “Chính phủ dân chủ cộng hòa”.
<br/>
- Xác định phương pháp đấu tranh: chuyển từ đấu tranh đòi dân sinh, dân chủ sang đánh đổ chính quyền của đế quốc và tay sai; từ hoạt động hợp pháp, nửa hợp pháp sang bí mật và bất hợp pháp.
<br/>
- Thành lập Mặt trận dân tộc thống nhất phản đế Đông Dương.
<br/>
c. Ý nghĩa: đánh dấu bước chuyển hướng quan trọng, đặt nhiệm vụ giải phóng dân tộc lên hàng đầu, đưa nhân dân ta bước vào thời kỳ trực tiếp vận động cứu nước.
<br/>
<b>2. Những cuộc đấu tranh mở đầu thời kì mới</b>
<br/>
<b>a. Khởi nghĩa Bắc Sơn (tháng 9/1940)</b>
<br/>
* Nguyên nhân: tháng 9/1940, quân Nhật tấn công Lạng Sơn, quân Pháp thua chạy, rút lui qua châu Bắc Sơn => tạo điều kiện khách quan thuận lợi cho cuộc đấu tranh của nhân dân Bắc Sơn.
<br/>
* Diễn biến chính:
<br/>
- Tháng 9/1940, Đảng bộ Bắc Sơn lãnh đạo quần chúng nhân dân nổi dậy đấu tranh, thành lập chính quyền cách mạng.
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/t9sfEY6Mh7z_7IVpXZK-pU5J8_aTI-15.png" alt="">
</div>
<br/>
- Nhật thỏa hiệp với Pháp, quay trở lại đàn áp phong trào đấu tranh của nhân dân Bắc Sơn.
<br/>
* Kết quả: Khởi nghĩa Bắc Sơn bị quân Pháp và Nhật đàn áp, khủng bố dã man => thất bại.
<br/>
* Ý nghĩa: Thể hiện tinh thần yêu nước; Để lại cho Đảng Cộng sản Đông Dương nhiều bài học kinh nghiệm về khởi nghĩa vũ trang, bài học về xây dựng lực lượng vũ trang, chọn thời cơ,...
<br/>
<b>b. Khởi nghĩa Nam Kì (tháng 11/1940)</b>
<br/>
* Nguyên nhân: thực dân Pháp bắt binh lính Việt Nam ra làm bia đỡ đạn cho chúng.
<br/>
* Diễn biến chính:
<br/>
- Đêm 22 rạng sáng 23/11/1940, nhân dân hầu khắp các tỉnh Nam Kì nổi dậy đấu tranh dưới sự lãnh đạo của Đảng bộ Nam Kì.
<br/>
- Nghĩa quân triệt hạ được một số đồn bốt giặc, thành lập chính quyền cách mạng ở nhiều nơi...
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/NGFKPJc0LfQ8KqZumGTZ4zY09cKcI2uu.png" alt="">
</div>
<br/>
Lược đồ khởi nghĩa Nam Kì (tháng 11/1940)
<br/>
* Kết quả: Khởi nghĩa Nam Kì bị quân Pháp khủng bố, đàn áp dã man => thất bại.
<br/>
* Ý nghĩa: thể hiện tinh thần yêu nước; để lại cho Đảng Cộng sản Đông Dương bài học kinh nghiệm về chọn thời cơ khởi nghĩa...
<br/>
<b>c. Binh biến Đô Lương (13/1/1941)</b>
<br/>
* Nguyên nhân: Binh lính người Việt trong quân đội Pháp phản đối việc Pháp đưa lính người Việt sang Lào đánh nhau với quân Thái Lan .
<br/>
* Diễn biến: Ngày 13/1/1941 Đội Cung chỉ huy binh lính đồn Chợ Rạng (Nghệ An), nổi dậy, đánh chiếm đồn Đô Lương rồi kéo về Vinh,phối hợp với binh lính ở đây chiếm thành.
<br/>
* Kết quả: Pháp kịp thời đối phó,chiều hôm sau, toàn bộ binh lính tham gia nổi dậy bị bắt.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/5EQp5QLRPRV89bGAEPlAVO0YpoavdP8-.png" alt="">
</div>
<br/>
Lược đồ binh biến Đô Lương
<br/>
* Ý nghĩa: thể hiện tinh thần yêu nước của binh lính Việt Nam trong quân đội Pháp; để lại nhiều bài học kinh nghiệm cho Đảng Cộng sản Đông Dương.
<br/>
<b>3. Nguyễn Ái Quốc về nước trực tiếp lãnh đạo cách mạng. Hội nghị lần 8 Ban chấp hành Trung ương Đảng Cộng sản Đông Dương (05/1941)</b>
<br/>
<b>a. Hoàn cảnh:</b>
<br/>
- Thế giới: Chiến tranh thế giới bước sang năm thứ 3. Ở châu Âu, phát xít Đức ráo riết chuẩn bị lực lượng để tấn công Liên Xô,...
<br/>
- Việt Nam:
<br/>
+ Dưới hai tầng áp bức Pháp – Nhật, nhân dân Việt Nam vô cùng khổ cực.
<br/>
+ 28/01/1941, lãnh tụ Nguyễn Ái Quốc trở về nước trực tiếp lãnh đạo cách mạng, triệu tập Hội nghị Trung ương Đảng lần thứ 8 ở Pắc Bó (Cao Bằng) từ ngày 10 đến 19/5/1941.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/HR1lJTFBaOCwPjVlPS3tHgt0bblp7eYl.png" alt="">
</div>

<br/>
Lán Khuổi Nậm – nơi họp Hội nghị lần thứ 8 Ban Chấp hành trung ương Đảng
<br/>
<b>b. Nội dung Hội nghị:</b>
<br/>
- Khẳng định nhiệm vụ chủ yếu trước mắt là giải phóng dân tộc.
<br/>
- Tạm gác khẩu hiệu cách mạng ruộng đất, nêu khẩu hiệu giảm tô, giảm thuế, chia lại ruộng công, tiến tới người cày có ruộng.
<br/>
- Sau khi đánh đuổi Pháp –Nhật sẽ thành lập Chính phủ nhân dân của nước Việt Nam Dân chủ Cộng hòa.
<br/>
- Thành lập Mặt trận Việt Nam độc lập đồng minh (Mặt trận Việt Minh) thay cho Mặt trận Thống nhất phản đế Đông Dương.
<br/>
- Thay tên các hội phản đế thành hội Cứu quốc, giúp đỡ việc lập Mặt trận ở Lào, Campuchia.
<br/>
- Xác định hình thái của cuộc khởi nghĩa ở Việt Nam: đi từ khởi nghĩa từng phần tiến lên tổng khởi nghĩa, Hội nghị chuẩn bị khởi nghĩa vũ trang là nhiệm vụ trung tâm của Đảng.
<br/>
c. Ý nghĩa: Hoàn chỉnh chủ trương chuyển hướng đấu tranh được đề ra từ hội nghị Trung ương tháng 11/1939, nhằm giải quyết mục tiêu số một của cách mạng là độc lập dân tộc và đề ra nhiều chủ trương sáng tạo để thực hiện mục tiêu ấy.
<br/>
<b>4. Chuẩn bị tiến tới khởi nghĩa giành chính quyền</b>
<br/>
<b>a. Bước đầu xây dựng lực lượng cho cuộc khởi nghĩa vũ trang:</b>
<br/>
* Xây dựng lực lượng chính trị:
<br/>
- Ở Cao Bằng:
<br/>
+ Cao Bằng là nơi thí điểm xây dựng các Hội Cứu quốc.
<br/>
+ Năm 1942 , khắp các châu ở Cao Bằng đều có Hội Cứu quốc, trong đó có ba châu hoàn toàn, Ủy ban Việt Minh tỉnh Cao Bằng và liên tỉnh Cao - Bắc - Lạng được thành lập,...
<br/>
- Ở miền Bắc và miền Trung: các "Hội phản đế" chuyển sang các "Hội cứu quốc", nhiều "Hội cứu quốc" mới được thành lập.
<br/>
- Năm 1943, Đảng đưa ra bản "Đề cương văn hóa Việt Nam" và vận động thành lập Hội văn hóa cứu quốc Việt Nam (cuối 1944) và Đảng dân chủ Việt Nam đứng trong Mặt trận Việt Minh(6/1944).
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/vI5Z7U3VyCtiHUyGY3pd4qCFZVH2rzyJ.png" alt="">
</div>
<br/>
* Xây dựng lực lượng vũ trang:
<br/>
- Đội du kích Bắc Sơn thành lập, hoạt động tại căn cứ Bắc Sơn - Võ Nhai.
<br/>
- Năm 1941, các đội du kích Bắc Sơn lớn mạnh lên và thống nhất thành Trung đội Cứu quốc quân số I (14/2/1941), Trung đội cứu quốc quân II (15/9/1941).
<br/>
* Xây dựng căn cứ địa cách mạng:
<br/>
- Hội nghị Trung ương 11/1940 xây dựng Bắc Sơn – Võ Nhai thành căn cứ địa cách mạng.
<br/>
- 1941, sau khi về nước, Nguyễn Ái Quốc chọn Cao Bằng để xây dựng căn cứ địa dựa trên cơ sở lực lượng chính trị và tổ chức phát triển.
<br/>
⇒ Bắc Sơn – Võ Nhai và Cao Bằng là 2 căn cứ địa đầu tiên của Việt Nam.
<br/>
Gấp rút chuẩn bị cho khởi nghĩa vũ trang giành chính quyền:
<br/>
- Tháng 02/1943, Ban Thường vụ Trung ương Đảng họp tại Võng La (Đông Anh- Phúc Yên) vạch ra kế hoạch chuẩn bị toàn diện cho khởi nghĩa vũ trang.
<br/>
- 25/2/1944, Trung đội cứu quốc quân III ra đời.
<br/>
- Năm 1943, 19 ban “ xung phong “Nam tiến” được lập ra để liên lạc với căn cứ địa Bắc Sơn – Võ Nhai và phát triển lực lượng xuống miền xuôi.
<br/>
- Ngày 7/5/1944, Tổng bộ Việt Minh ra chỉ thị “sửa soạn khởi nghĩa”.
<br/>
- 22/12/1944, theo chỉ thị của Hồ Chí Minh, Đội Việt Nam tuyên truyền giải phóng quân thành lập. Hai ngày sau, đội thắng hai trận Phay Khắt và Nà Ngần.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/ennkIyQ_X-epGbtGbzRoSSannEfNwy3k.png" alt="">
</div>
<br/>
Lễ thành lập Đội Việt Nam tuyên truyền giải phóng quân
<br/>
<b>Khởi nghĩa vũ trang giành chính quyền</b>
<br/>
<b>1. Khởi nghĩa từng phần (từ tháng 3 đến giữa tháng 8/1945)</b>
<br/>
<b>a. Hoàn cảnh lịch sử:</b>
<br/>
* Thế giới
<br/>
- Đầu 1945, Liên Xô đánh bại phát xít Đức, giải phóng các nước Trung và Đông Âu.
<br/>
- Ở châu Á – Thái Bình Dương, Nhật thất bại nặng nề.
<br/>
* Đông Dương: lực lượng Pháp theo phái Đờ Gôn chờ thời cơ phản công Nhật, mâu thuẫn Nhật - Pháp trở nên gay gắt => Tối 09/03/1945, Nhật đảo chính Pháp, độc chiếm Đông Dương.
<br/>
⇒ Chủ trương của Đảng: Ngày 12/03/1945, Ban Thường vụ Trung ương Đảng ra chỉ thị: “Nhật – Pháp bắn nhau và hành động của chúng ta”, nhận định:
<br/>
+ Kẻ thù chính của nhân dân Đông Dương là phát xít Nhật.
<br/>
+ Thay khẩu hiệu “Đánh đuổi phát xít Nhật – Pháp” bằng “Đánh đuổi phát xít Nhật”.
<br/>
+ Hình thức đấu tranh: từ bất hợp tác, bãi công, bãi thị đến biểu tình thị uy, vũ trang du kích và sẵn sàng chuyển qua tổng khởi nghĩa khi có điều kiện.
<br/>
+ Phát động một cao trào kháng Nhật cứu nước làm tiền đề cho cuộc tổng khởi nghĩa.
<br/>
<b>b. Diễn biến khởi nghĩa từng phần:</b>
<br/>
- Ở căn cứ địa Cao – Bắc – Lạng: Đội Việt Nam Tuyên truyền Giải phóng quân và Cứu quốc quân phối hợp với lực lượng chính trị của quần chúng đập tan chính quyền địch, thành lập chính quyền cách mạng.
<br/>
- Tại Bắc bộ và Trung Bộ, khẩu hiệu “phá kho thóc, giải quyết nạn đói” của Trung ương Đảng đã kịp thời đáp ứng nguyện vọng của quần chúng nhân dân => tạo nên một phong trào đấu tranh sôi nổi, mạnh mẽ.
<br/>
- Ở Quảng Ngãi, tù chính trị ở nhà lao Ba Tơ nổi dậy, lãnh đạo quần chúng khởi nghĩa, giành chính quyền cách mạng (11/3/1945), tổ chức đội du kích Ba Tơ.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/oakcNyn_rjqfWOStwo7wkFLAutXsGVOw.png" alt="">
</div>
<br/>
Đội du kích Ba Tơ
<br/>
- Ở Nam Kì, phong đấu tranh của nhân dân phát triển mạnh, đặc biệt là ở Mĩ Tho và Hậu Giang.
<br/>
c. Ý nghĩa:
<br/>
- Đường lối lãnh đạo đúng đắn, sáng suốt, linh hoạt và sáng tạo của Đảng Cộng sản Đông Dương.
<br/>
- Qua cao trào “Kháng Nhật, cứu nước”:
<br/>
+ Đội ngũ cán bộ, đảng viên được thử thách, rèn luyện và ngày càng trưởng thành.
<br/>
+ Lực lượng cách mạng quần chúng ở cả nông thôn và thành thị đều phát triển nhanh chóng.
<br/>
+ Lực lượng địch suy yếu nghiêm trọng.
<br/>
- Để lại nhiều bài học khởi nghĩa quý báu cho các cuộc đấu tranh yêu nước sau này.
<br/>
⇒ Cao trào “Kháng Nhật, cứu nước” là bước phát triển nhảy vọt của cách mạng Việt Nam, tạo tiền đề trực tiếp cho sự bùng nổ, phát triển và giành thắng lợi của Tổng khởi nghĩa tháng Tám năm 1945.
<br/>
<b>2. Sự chuẩn bị cuối cùng trước ngày Tổng khởi nghĩa</b>
<br/>
- Tháng 4/1945, Hội nghị quân sự Bắc Kì được triệu tập ở Hiệp Hòa (Bắc Giang). Hội nghị đã quyết định:
<br/>
+ Thống nhất các lực lượng vũ trang thành Việt Nam Giải phóng quân.
<br/>
+ Phát triển hơn nữa lực lượng vũ trang và nửa vũ trang.
<br/>
+ Tích cực phát triển chiến tranh du kích và xây dựng căn cứ địa kháng Nhật,...
<br/>
- Ngày 16/4/1945, Ủy Ban dân tộc giải phóng Việt Nam và Ủy Ban Dân tộc giải phóng các cấp thành lập.
<br/>
- 15/5/1945, Việt Nam cứu quốc quân và Việt Nam tuyên truyền giải phóng quân thống nhất thành Việt Nam giải phóng quân.
<br/>
- 4/6/1945 thành lập Khu giải phóng Việt Bắc. Khu giải phóng Việt Bắc trở thành căn cứ địa chính của cách mạng cả nước và là hình ảnh thu nhỏ của nước Việt Nam mới.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/OF9U-12Y2pIOkvdcI_3eUxs5KKvxC04w.png" alt="">
</div>
<br/>
Lược đồ Khu giải phóng Việt Bắc
<br/>
<b>3 .Tổng khởi nghĩa tháng Tám năm 1945</b>
<br/>
<b>a. Nhật đầu hàng Đồng Minh, lệnh Tổng khởi nghĩa được ban bố
</b>
<br/>
* Nhật đầu hàng Đồng minh.
<br/>
- Tháng 8/1945, Chiến tranh thế giới thứ hai bước vào những ngày cuối.
<br/>
+ Ở châu Âu, phát xít Đức và Italia bị tiêu diệt đã đặt quân phiệt Nhật vào thế tuyệt vọng, thất bại là điều không tránh khỏi.
<br/>
+ Ở châu Á – Thái Bình Dương, quân Đồng minh tiến công mạnh mẽ các vị trí của Nhật: ngày 6 và 9/8/1945 Mỹ ném hai trái bom nguyên tử xuống Hirosima và Nagasaki; ngày 9/8/1945, Hồng quân Liên Xô tiêu diệt đội quân Quan Đông của Nhật ở Đông Bắc Trung Quốc.
<br/>
⇒ Ngày 15/8/1945, Nhật tuyên bố đầu hàng Đồng minh không điều kiện.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/KISk1RjjfXogVETuyyCEpK9mLz1r4piM.png" alt="">
</div>
<br/>
Nhật Bản kí văn kiện đầu hàng Đồng minh không điều kiện
<br/>
- Việc Nhật Bản đầu hàng, đã tác động sâu sắc tới tình hình Việt Nam:
<br/>
+ Lực lượng quân Nhật ở Việt Nam hoang mang, chính phủ thân Nhật Trần Trọng Kim rệu rã.
<br/>
+ Đại diện quân Đồng minh (Anh và Trung Hoa Dân quốc) với danh nghĩa giải giáp quân đội Nhật chưa tiến vào Việt Nam.
<br/>
⇒ Thời cơ khách quan thuận lợi để nhân dân Việt Nam nổi dậy giành chính quyền đã tới.
<br/>
* Lệnh Tổng khởi nghĩa được ban bố
<br/>
- Ngày 13/8/1945, Trung ương Đảng và Tổng bộ Việt Minh thành lập Ủy ban khởi nghĩa Toàn quốc. Đến 23 giờ cùng ngày, Ủy ban Khởi nghĩa toàn quốc ra “ Quân lệnh số 1”, phát lệnh Tổng khởi nghĩa trong cả nước.
<br/>
- Từ 14 đến 15/8/1945, Hội nghị toàn quốc của Đảng họp ở Tân Trào (Tuyên Quang), thông qua kế hoạch lãnh đạo toàn dân Tổng khởi nghĩa, quyết định các vấn đề đối nội và đối ngoại sau khi giành chính quyền.
<br/>
- Từ 16 đến 17/08/1945, Đại hội quốc dân ở Tân Trào tán thành chủ trương Tổng khởi nghĩa của Đảng, thông qua 10 chính sách của Việt Minh , cử ra Ủy ban dân tộc giải phóng Việt Nam do Hồ Chí Minh làm Chủ tịch, lấy lá cờ đỏ sao vàng năm cánh làm Quốc kỳ, bài Tiến quân ca làm Quốc ca.
<br/>
<b>b. Diễn biến cuộc Tổng khởi nghĩa:</b>
<br/>
- Từ ngày 14/8/1945, tại nhiều nơi, cấp bộ Đảng, Việt Minh đã căn cứ tình hình cụ thể của địa phương và vận dụng chỉ thị: “Nhật – Pháp bắn nhau và hành động của chúng ta”, để phát động nhân dân khởi nghĩa.
<br/>
- Chiều 16/8/1945, theo lệnh của Ủy ban khởi nghĩa, một đơn vị giải phóng quân do Võ Nguyên Giáp chỉ huy, từ Tân Trào về thị xã Thái Nguyên, mở đầu cuộc Tổng khởi nghĩa.
<br/>
- 18/8/ 1945, Bắc Giang, Hải Dương, Hà Tĩnh, Quảng Nam giành chính quyền sớm nhất.
<br/>
- Tối 19/8/1945 khởi nghĩa thắng lợi ở Hà Nội.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/qecwDC5rWBtZ-FKd8UIearznusF3BOUN.png" alt="">
</div>
<br/>
Nhân dân Hà Nội đánh chiếm Bắc Bộ phủ
<br/>
- Ngày 23/8/1945, nhân dân Huế giành được chính quyền.
<br/>
- Ngày 25/8/1945, khởi nghĩa giành thắng lợi tại Sài Gòn.
<br/>
- Ngày 28/8/1945, khởi nghĩa giành chính quyền thắng lợi trong cả nước (trừ một số thị xã do quân Trung Ha Dân quốc chiếm đóng từ trước).
<br/>
- 30/8/1945, vua Bảo Đại tuyên bố thoái vị. Chế độ phong kiến Việt Nam hoàn toàn sụp đổ.
<br/>
<b>Nước Việt Nam Dân Chủ Cộng Hòa được thành lập (2/9/1945)</b>
<br/>
- 25/8/1945 Chủ Tịch Hồ Chí Minh, Trung ương Đảng từ Tân Trào tiến về Hà Nội.
<br/>
- 28/8/1945, Ủy ban dân tộc giải phóng Việt Nam cải tổ thành Chính phủ lâm thời nước Việt Nam Dân Chủ Cộng Hòa.
<br/>
- 2/9/1945, tại quảng trường Ba Đình, Chủ Tịch Hồ Chí Minh đọc bản Tuyên ngôn Độc lập, tuyên bố trước toàn thể quốc dân và nhân dân thế giới: nước Việt Nam Dân chủ Cộng hòa thành lập.
<br/>
<div class="img">
  <img src="https://media.eduvietnam.vn/images/2021/09/01/96TvyeiBJDRTPibyuVAW_2pL19OKnl7q.png" alt="">
</div>
<br/>
Chủ tịch Hồ Chí Minh đọc Tuyên ngôn Độc lập, khai sinh ra nước Việt Nam Dân chủ Cộng hòa
<br/>
<b>Nguyên nhân thắng lợi, ý nghĩa lịch sử bài học kinh nghiệm của Cách mạng tháng tám</b>
<br/>
<b>1. Nguyên nhân thắng lợi</b>
<br/>
<b>a. Nguyên nhân khách quan:</b>
<br/>
- Chiến thắng của Đồng minh trong chiến tranh chống phát xít, đã cổ vũ tinh thần, niềm tin cho nhân dân Việt Nam trong đấu tranh giải phóng dân tộc, tạo thời cơ để nhân dân Việt Nam đứng lên Tổng khởi nghĩa.
<br/>
<b>b. Nguyên nhân chủ quan:</b>
<br/>
<b>- Dân tộc ta có truyền thống yêu nước nồng nàn.</b>
<br/>
- Đảng đã đề ra đường lối chiến lược, chỉ đạo chiến lược và sách lược đúng đắn trên cơ sở lý luận Mac – Lê-nin được vận dụng sáng tạo vào hoàn cảnh Việt Nam.
<br/>
- Đảng có quá trình chuẩn bị suốt 15 năm, qua các phong trào cách mạng 1930 – 1931, 1936 – 1939, 1939 – 1945 và đã rút những bài học kinh nghiệm.
<br/>
- Toàn Đảng, toàn dân nhất trí, quyết tâm giành độc lập tự do, linh hoạt, sáng tạo chỉ đạo khởi nghĩa, chớp thời cơ phát động quần chúng nổi dậy giành chính quyền.
<br/>
<b>2. Ý nghĩa lịch sử</b>
<br/>
<b>a. Đối với dân tộc Việt Nam</b>
<br/>
- Phá tan xiềng xích nô lệ của Pháp - Nhật, lật nhào ngai vàng phong kiến, lập nước Việt Nam Dân chủ Cộng hòa.
<br/>
- Mở ra kỷ nguyên mới của dân tộc – kỉ nguyên độc lập, tự do; giải phóng dân tộc gắn liền với giải phóng xã hội.
<br/>
- Đảng Cộng sản Đông Dương trở thành một Đảng cầm quyền, chuẩn bị điều kiện cho những thắng lợi tiếp theo.
<br/>
<b>b. Đối với thế giới:</b>
<br/>
- Góp phần vào chiến thắng chủ nghĩa phát xít trong Chiến tranh thế giới thứ hai.
<br/>
- Cổ vũ mạnh mẽ các dân tộc thuộc địa đấu tranh tự giải phóng, có ảnh hưởng trực tiếp và rất to lớn đến cách mạng ở hai nước Miên và Lào.
<br/>
<b>3. Bài học kinh nghiệm</b>
<br/>
- Đảng có đường lối đúng đắn, trên cơ sở vận dụng sáng tạo chủ nghĩa Mác – Lê-nin vào thực tiễn Việt Nam, nắm bắt tình hình thế giới và trong nước để đề ra chủ trương, biện pháp cách mạng phù hợp.
<br/>
- Tập hợp, tổ chức các lực lượng yêu nước trong Mặt trận dân tộc thống nhất, trên cơ sở khối liên minh công nông.
<br/>
- Kết hợp đấu tranh chính trị với vũ trang, tiến hành khởi nghĩa từng phần, chớp thời cơ phát động Tổng khởi nghĩa trong cả nước.

<div class="containter-right col-md-4 muc">
      <div class="fixed-top">
        <div class="vie-card-header bg-success baitap">Mục lục</div>
        <div class="containter-top">
          <ul >
            <li class="">
              <a
                href="/lich-su/on-tap/1#0"
                class="d-flex justify-content-between align-items-center">
                <span><b>Nhật Bản từ năm 1945 đến năm 1952</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="/lich-su/on-tap/1#1"
                class="d-flex justify-content-between align-items-center"
              >
                <span><b>Nhật Bản từ năm 1945 đến năm 1973</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="/lich-su/on-tap/1#2"
                class="d-flex justify-content-between align-items-center"
              >
                <span><b>Nhật Bản từ năm 1973 đến năm 1991</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="vie-card-header bg-success baitap">Bài tập luyện tập</div>
        <div class="containter-top">
          <ul class="">
            <li>
              <a
                href="/luyen-tap/1"
                class="d-flex justify-content-between align-items-center"
              >
                <span>Mức độ: <b>Nhận biết</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="d-flex justify-content-between align-items-center"
              >
                <span>Mức độ: <b>Thông hiểu</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="d-flex justify-content-between align-items-center"
              >
                <span>Mức độ: <b>Vận dụng</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="d-flex justify-content-between align-items-center"
              >
                <span>Mức độ: <b>Vận dụng cao</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="/hoc-tap-theo-chuyen-de/tinh-don-dieu/luyen-tap?level=1"
                class="d-flex justify-content-between align-items-center"
              >
                <span> <b>Thử đánh giá năng lực</b></span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



