

<div id="content" #content>
<div class="main-content">
  <div class="container"></div>
  <div class="row m-lg-2">
    <div class="col-md-12 mt-12 m-12">
      <!-- <div [appMath]="ontapContent">

      </div> -->
      <div [appMath]="chudeDetail.noidung"></div>
      <!-- [appMath]="ontapContent" -->
      <!-- <mathjax [content]="ontapContent?.content"></mathjax> -->
      <!-- <button type="button" (click)="printpdf()">Print PDF</button> -->
    </div>
    <!-- <div class="col-md-12 mt-12 m-12" *ngIf="monHoc  !== MONHOC.TOAN" [innerHtml] = "ontapContent?.content"> -->
    <!-- </div> -->
    <!-- <div class="containter-right col-md-4 muc">
      <div class="fixed-top"  [innerHtml]="ontapContent?.menu">

      </div>
    </div> -->


  </div>

</div>
</div>

