<div class="main-content overflow-auto">
  <div class="container">
                          </div>
  <div class="container">
  <div class="py-3 py-xl-5">
          <div class="position-relative text-center pt-lg-5">
              <h1 class="d-none d-md-block"><b>Giáo dục trực tuyến Vie</b></h1>
              <h1 class="d-md-none" style="font-size: 26px"><b>Giáo dục trực tuyến Vie</b></h1>

              <div class="row justify-content-center">
                  <div class="col-lg-8 col-xl-6">
                      <p>
                          Vie Education là hệ thống giáo dục trực tuyến chất lượng, đảm bảo tính bảo mật được xây dựng mới
                          bởi đội ngũ người Việt nhiệt huyết nhiều năm kinh nghiệm trong các lĩnh vực giáo dục, công nghệ,
                          thiết kế.
                      </p>
                      <p>Hệ thống cung cấp đầy đủ tính năng phục vụ cho việc quản lý, dạy & học online, tự đánh giá năng
                          lực.</p>
                  </div>
              </div>

              <img src="https://eduvietnam.vn/images/decor-1.png" alt="" class="position-absolute d-none d-lg-block" style="top: 0; left: 0">
              <img src="https://eduvietnam.vn/images/decor-3.png" alt="" class="position-absolute d-none d-lg-block"
                   style="bottom: 0; left: 10%">
              <img src="https://eduvietnam.vn/images/decor-2.png" alt="" class="position-absolute d-none d-lg-block"
                   style="top: 0; right: 10%">
              <img src="https://eduvietnam.vn/images/decor-4.png" alt="" class="position-absolute d-none d-lg-block"
                   style="right: 20px; bottom: 10%">
          </div>
      </div>

      <!--    <h3 class="text-center my-3" style="color: var(--orange)"><b>#Tính năng nổi bật của Vie</b></h3>-->

      <div class="row align-items-center">
          <div class="col-md-6 mb-4">
              <img src="https://eduvietnam.vn/images/banner-v3-02.svg" alt="" class="w-100 py-2">
          </div>
          <div class="col-md-6">
              <ul class="list-unstyled">
                  <li class="mb-3">
                      <a href="/quiz-template" class="d-flex align-items-center">
                          <img src="https://eduvietnam.vn/images/feature-1.png" alt="" width="64px" height="64px" class="mr-2">
                          <div>
                              <b>Ngân hàng đề thi</b> <br>
                              <div class="text-dark font-smaller">
                                  <ul class="pl-3">
                                      <li>Giúp học sinh tự giá năng lực.</li>
                                      <li>Đề kiểm tra ngẫu nhiên theo đúng cấu trúc đề của Bộ GD&ĐT.</li>
                                      <li>Giáo dục theo định hướng phát triển năng lực người học.</li>
                                  </ul>
                              </div>
                          </div>
                      </a>
                  </li>
                  <li class="mb-3">
                      <a href="/my-class" class="d-flex align-items-center">
                          <img src="https://eduvietnam.vn/images/feature-3.png" alt="" width="64px" height="64px" class="mr-2">
                          <div>
                              <b>Dạy & học trực tuyến</b> <br>
                              <div class="text-dark font-smaller">
                                  <ul class="pl-3">
                                      <li>Đảm bảo tính bảo mật.</li>
                                      <li>Nhiều tính năng mới <b>chuyên dụng</b> phục vụ việc dạy & học trực tuyến.</li>
                                  </ul>
                              </div>
                          </div>
                      </a>
                  </li>
                  <li class="mb-3">
                      <a href="" class="d-flex align-items-center">
                          <img src="https://eduvietnam.vn/images/feature-5.png" alt="" width="64px" height="64px" class="mr-2">
                          <div>
                              <b>Tự học theo chuyên đề</b> <br>
                              <div class="text-dark font-smaller">
                                  <ul class="pl-3">
                                      <li>Bài giảng lý thuyết.</li>
                                      <li>Luyện theo từng chuyên đề với 4 mức độ.</li>
                                  </ul>
                              </div>
                          </div>
                      </a>
                  </li>
                  <li class="mb-3">
                      <a href="/ban-giam-hieu" class="d-flex align-items-center">
                          <img src="https://eduvietnam.vn/images/feature-2.png" alt="" width="64px" height="64px" class="mr-2">
                          <div>
                              <b>Hỗ trợ BGH nhà trường</b><br>
                              <div class="text-dark font-smaller">
                                  <ul class="pl-3">
                                      <li>Tương tác, quản lý, giám sát, đánh giá hoạt động giảng dạy, học tập.</li>
                                      <li>Quản lý nhân viên trong nhà trường.</li>
                                  </ul>
                              </div>
                          </div>
                      </a>
                  </li>
                  <li class="mb-3">
                      <a href="/site/application" class="d-flex align-items-center">
                          <img src="https://eduvietnam.vn/images/feature-4.png" alt="" width="64px" height="64px" class="mr-2">
                          <div>
                              <b>Các ứng dụng VieEdu</b> <br>
                              <div class="text-dark font-smaller">
                                  <ul class="pl-3">
                                      <li>Ứng dụng dành cho học sinh, thầy/cô giáo, ban giám hiệu và phụ huynh học sinh.
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>
      </div>


      <div class="section mb-5">
        <div class="section-header d-flex align-items-center justify-content-between py-3">
            <h4 class="section-title mb-0 d-none d-md-block">Ngân hàng đề kiểm tra</h4>
            <h4 class="section-title mb-0 d-md-none font-medium">Ngân hàng đề kiểm tra</h4>
            <a href="/quiz-template" class="link section-action d-none d-md-block">Xem tất cả</a>
            <a href="/quiz-template" class="link section-action d-md-none font-smaller">Xem tất cả</a>
        </div>

        <div class="section-content">
            <div class="row">

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/vocabulary-unit-8">
                                <img src="https://media.eduvietnam.vn/images/2021/08/13/U3DFs3dN9w4jI4BLzEVR5YENB3q3qDkM.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller">Vocabulary unit 8</p>
                                    <p class="title d-none d-md-block">Vocabulary unit 8</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/language-unit-8">
                                <img src="https://media.eduvietnam.vn/images/2021/08/13/rK3xAVL8FMy_8iUcGGIwtrKoVD55YO8C.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller">Language unit 8</p>
                                    <p class="title d-none d-md-block">Language unit 8</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/vocabulary-unit-7">
                                <img src="https://media.eduvietnam.vn/images/2021/08/13/5QaPgiW3SIsqm6Fghw-M92KEmafhmGnO.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller">Vocabulary unit 7</p>
                                    <p class="title d-none d-md-block">Vocabulary unit 7</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/language-focus-unit-7">
                                <img src="https://media.eduvietnam.vn/images/2021/08/13/9aHdbhIiGkSTytkM4xD8rWx4enrC4se6.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller"> language focus unit 7</p>
                                    <p class="title d-none d-md-block"> language focus unit 7</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/vocabulary-unit-6">
                                <img src="https://media.eduvietnam.vn/images/2021/08/13/-CUAE3AO-xj2zz53jmQZJ9FNWAAhsZwu.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller">Vocabulary unit 6</p>
                                    <p class="title d-none d-md-block">Vocabulary unit 6</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/language-focus-unit-6">
                                <img src="https://media.eduvietnam.vn/images/2021/08/13/6iu0ewuAtd9wKmK-C9XG2haYNXijsXio.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller">Language focus unit 6</p>
                                    <p class="title d-none d-md-block">Language focus unit 6</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/vocabulary-unit-5">
                                <img src="https://media.eduvietnam.vn/images/2021/08/09/6OwLudHjhmiMVN9YkT4bW6GNNUEqyo1Q.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller"> vocabulary unit 5</p>
                                    <p class="title d-none d-md-block"> vocabulary unit 5</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item">
                            <a href="/tieng-anh/language-focus-unit-5">
                                <img src="https://media.eduvietnam.vn/images/2021/08/09/3nwyVXRvQb4CyqRYMKmA3s09jMZBO8HY.png"
                                     alt="" width="100%">
                                <span class="quiz-template-content">
                                    <p class="d-md-none title font-smaller">Language focus unit 5</p>
                                    <p class="title d-none d-md-block">Language focus unit 5</p>
                                    <span class="d-flex mt-auto justify-content-between">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                            <span class="ml-2 d-none d-md-block">15 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                            <span class="ml-2 d-none d-md-block">10 câu</span>
                                        </span>
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>
                                </div>
        </div>
    </div>

    <div class="section mb-5 d-none">
        <div class="section-header d-flex align-items-center justify-content-between py-3">
            <h4 class="section-title mb-0 mb-0 d-none d-md-block">Học tập theo chuyên đề</h4>
            <h4 class="section-title mb-0 d-md-none font-medium">Học tập theo chuyên đề</h4>
        </div>

        <div class="section-content">
            <div class="row">
                                    <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=2">
                                <img src="/images/thematic-2.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                        <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=6">
                                <img src="/images/thematic-6.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                        <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=7">
                                <img src="/images/thematic-7.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                        <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=8">
                                <img src="/images/thematic-8.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                        <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=1">
                                <img src="/images/thematic-1.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                        <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=3">
                                <img src="/images/thematic-3.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                        <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=4">
                                <img src="/images/thematic-4.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                        <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                        <div class="quiz-template-item pb-2">
                            <a href="/thematic?subjectId=5">
                                <img src="/images/thematic-5.png"
                                     alt="" width="100%">
                            </a>
                        </div>
                    </div>
                                </div>
        </div>
    </div>

            <div class="section mb-5">
            <div class="section-header d-flex align-items-center justify-content-between py-3">
                <h4 class="section-title mb-0 d-none d-md-block">Thi thử</h4>
                <h4 class="section-title mb-0 d-md-none font-medium">Thi thử</h4>
                <a href="/test?type=0"
                   class="link section-action d-none d-md-block  d-none">Xem
                    tất cả</a>
                <a href="/test?type=0"
                   class="link section-action d-md-none font-smaller  d-none">Xem
                    tất cả</a>
            </div>

            <div class="section-content">
                <div class="row">
                                            <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                            <div class="quiz-template-item">
                                <a href="/test/10" class="">
                                    <img src="https://eduvietnam.vn/images/thpt-qg-3.png"
                                         alt="" width="100%" height="auto">
                                    <div class="quiz-template-content">
                                        <p class="title d-none d-md-block">Thi thử thpt quốc gia - đề 1</p>
                                        <p class="title d-md-none font-smaller">Thi thử thpt quốc gia - đề 1</p>
                                        <span class="d-flex mt-auto">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="https://eduvietnam.vn/images/thpt-qg-3.png" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">50 phút</span>
                                            <span class="ml-1 d-md-none font-x-small">50 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="https://eduvietnam.vn/images/thpt-qg-3.png" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">40 câu</span>
                                            <span class="ml-1 d-md-none font-x-small">40 câu</span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                                                <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                            <div class="quiz-template-item">
                                <a href="/test/9" class="">
                                    <img src="https://eduvietnam.vn/images/thpt-qg-3.png"
                                         alt="" width="100%" height="auto">
                                    <div class="quiz-template-content">
                                        <p class="title d-none d-md-block">Thi thử thpt quốc gia - đề 1</p>
                                        <p class="title d-md-none font-smaller">Thi thử thpt quốc gia - đề 1</p>
                                        <span class="d-flex mt-auto">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">50 phút</span>
                                            <span class="ml-1 d-md-none font-x-small">50 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">40 câu</span>
                                            <span class="ml-1 d-md-none font-x-small">40 câu</span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                                                <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                            <div class="quiz-template-item">
                                <a href="/test/8" class="">
                                    <img src="https://eduvietnam.vn/images/thpt-qg-3.png"
                                         alt="" width="100%" height="auto">
                                    <div class="quiz-template-content">
                                        <p class="title d-none d-md-block">Thi thử thpt quốc gia - đề 1</p>
                                        <p class="title d-md-none font-smaller">Thi thử thpt quốc gia - đề 1</p>
                                        <span class="d-flex mt-auto">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">50 phút</span>
                                            <span class="ml-1 d-md-none font-x-small">50 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">40 câu</span>
                                            <span class="ml-1 d-md-none font-x-small">40 câu</span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                                                <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                            <div class="quiz-template-item">
                                <a href="/test/7" class="">
                                    <img src="https://eduvietnam.vn/images/thpt-qg-3.png"
                                         alt="" width="100%" height="auto">
                                    <div class="quiz-template-content">
                                        <p class="title d-none d-md-block">Thi thử thpt quốc gia - đề 1</p>
                                        <p class="title d-md-none font-smaller">Thi thử thpt quốc gia - đề 1</p>
                                        <span class="d-flex mt-auto">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">50 phút</span>
                                            <span class="ml-1 d-md-none font-x-small">50 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">40 câu</span>
                                            <span class="ml-1 d-md-none font-x-small">40 câu</span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                                                <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                            <div class="quiz-template-item">
                                <a href="/test/6" class="">
                                    <img src="https://eduvietnam.vn/images/thpt-qg-3.png"
                                         alt="" width="100%" height="auto">
                                    <div class="quiz-template-content">
                                        <p class="title d-none d-md-block">Thi thử thpt quốc gia - đề 1</p>
                                        <p class="title d-md-none font-smaller">Thi thử thpt quốc gia - đề 1</p>
                                        <span class="d-flex mt-auto">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">50 phút</span>
                                            <span class="ml-1 d-md-none font-x-small">50 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">40 câu</span>
                                            <span class="ml-1 d-md-none font-x-small">40 câu</span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                                                <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                            <div class="quiz-template-item">
                                <a href="/test/4" class="">
                                    <img src="https://eduvietnam.vn/images/thpt-qg-3.png"
                                         alt="" width="100%" height="auto">
                                    <div class="quiz-template-content">
                                        <p class="title d-none d-md-block">Thi thử thpt quốc gia - đề 1</p>
                                        <p class="title d-md-none font-smaller">Thi thử thpt quốc gia - đề 1</p>
                                        <span class="d-flex mt-auto">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">50 phút</span>
                                            <span class="ml-1 d-md-none font-x-small">50 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">40 câu</span>
                                            <span class="ml-1 d-md-none font-x-small">40 câu</span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                                                <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex">
                            <div class="quiz-template-item">
                                <a href="/test/3" class="">
                                    <img src="https://eduvietnam.vn/images/thpt-qg-3.png"
                                         alt="" width="100%" height="auto">
                                    <div class="quiz-template-content">
                                        <p class="title d-none d-md-block">Thi thử thpt quốc gia - đề 1</p>
                                        <p class="title d-md-none font-smaller">Thi thử thpt quốc gia - đề 1</p>
                                        <span class="d-flex mt-auto">
                                        <span class="d-flex flex-grow-1 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">90 phút</span>
                                            <span class="ml-1 d-md-none font-x-small">90 phút</span>
                                        </span>
                                        <span class="d-flex flex-grow-1 align-items-center">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
                                            <span class="ml-2 d-none d-md-block">50 câu</span>
                                            <span class="ml-1 d-md-none font-x-small">50 câu</span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                                        </div>
            </div>
        </div>

</div>
