<div class="container student-application  my-3 my-md-5">
  <h4 class=""><b>Ứng dụng dành cho thầy/cô giáo</b></h4>

  <div class="row mt-5 align-items-center">
      <div class="col-md-8">
          <p>1. Hệ thống cung cấp đầy đủ tiện ích làm đề trắc nghiệm, chấm bài dành cho thầy/cô giáo cả online và offline.</p>

          <p>2. Thầy/Cô giáo có thể tạo ngân hàng riêng hoặc sử dụng ngân hàng Vie Edu phục vụ việc ra đề, gởi đề kiểm tra đến
              học sinh. Quản lý học sinh làm bài, chấm bài nhanh chóng, cung cấp đến học sinh đáp án chi tiết...</p>

          <p>3. Tạo lớp học, giao bài tập, kiểm tra quá trình làm bài tập của học sinh...</p>
          <p>4. Dạy học trực tuyến</p>
          <p>5. Chấm nhanh bài kiểm tra trắc nghiệm bất kỳ</p>
<!--
          <div class="d-flex flex-wrap">
            <button type="button" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i>Click để tải ứng dụng</button>

              <a class="btn-link btn flex-grow-1" target="_blank" href="#">Trang quản trị dành cho thầy/cô giáo <span class="fa fa-link"></span> </a>
          </div> -->
      </div>
      <div class="col-md-4">
          <img src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?size=626&ext=jpg" alt="" width="100%">
      </div>
  </div>
</div>
