<div class='mb-4 pt-3 container'>
  <form id="searchForm" action="/tieng-anh" method="get"><div class="row">
      <div class="mb-2 col-6 col-md-4">
          <select id="subject" class="form-control" name="" onchange="onSubjectChange(event)">
  <option value="quiz-template">--Môn học--</option>
  <option value="toan-hoc">Toán</option>
  <option value="tieng-anh" selected>Tiếng Anh</option>
  <option value="dia-ly">Địa lý</option>
  <option value="lich-su">Lịch sử</option>
  <option value="sinh-hoc">Sinh học</option>
  <option value="vat-ly">Vật lý</option>
  <option value="hoa-hoc">Hóa học</option>
  <option value="giao-duc-cong-dan">Giáo dục công dân</option>
  </select>    </div>
      <div class="mb-2 col-6 col-md-4">
          <select id="classlevel" class="form-control" name="classLevel" onchange="this.form.submit()">
  <option value="">--Lớp--</option>
  <option value="10">Lớp 10</option>
  <option value="11">Lớp 11</option>
  <option value="12">Lớp 12</option>
  <option value="13">Luyện thi vào lớp 10</option>
  <option value="14">Luyện thi đại học</option>
  </select>    </div>
      <div class="mb-2 col-md-4">
          <select id="type" class="form-control" name="type" onchange="this.form.submit()">
  <option value="">--Loại bài kiểm tra--</option>
  <option value="15min">Kiểm tra 15 phút</option>
  <option value="45min">Kiểm tra chuyên đề</option>
  <option value="90min">Kiểm tra định kì</option>
  </select>    </div>

      <div class="mb-2 col-md-4">
          <select id="categoryid" class="form-control" name="categoryId" onchange="this.form.submit()">
  <option value="">--Danh mục--</option>
  <option value="232">LANGUAGE FOCUS 12</option>
  <option value="233">Vocabulary 12</option>
  </select>    </div>
      <div class="mb-2 col-md-4">
          <select id="thematicid" class="form-control" name="thematicId" onchange="this.form.submit()">
  <option value="">--Chuyên đề--</option>
  </select>    </div>
      <div class="mb-2 col-md-4">
          <button class="btn btn-success w-100" type="submit">Tìm kiếm</button>
      </div>


  </div>

      <hr>

  </form>
  <div id="w0" class="list-view"><div class="row"><div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="410">

  <div class="quiz-template-item">
      <a href="/tieng-anh/grammar-unit-1">
          <img src="https://media.eduvietnam.vn/images/2021/07/08/wqyBO8YfSYjDSwIqEzm2uFhmydSvD638.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Language focus unit 1</p>
                                      <p class="title d-md-none font-smaller">Language focus unit 1</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="411">

  <div class="quiz-template-item">
      <a href="/tieng-anh/vocabulary-unit-1">
          <img src="https://media.eduvietnam.vn/images/2021/07/08/CECcTDWouIZ-BtctdieGfI95h1cTo0no.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Vocabulary unit 1</p>
                                      <p class="title d-md-none font-smaller">Vocabulary unit 1</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="614">

  <div class="quiz-template-item">
      <a href="/tieng-anh/language-focus-unit-2">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/z9x7HqaDaRCx058yWFyCvRipofdVLezf.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Language focus unit 2</p>
                                      <p class="title d-md-none font-smaller">Language focus unit 2</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="615">

  <div class="quiz-template-item">
      <a href="/tieng-anh/vocabulary-unit-2">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/yMrUFNZAMWrVRJyrrGagZcMCLXSaIBDz.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Vocabulary unit 2</p>
                                      <p class="title d-md-none font-smaller">Vocabulary unit 2</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="616">

  <div class="quiz-template-item">
      <a href="/tieng-anh/language-focus-unit-3">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/U47Jo6J5PR0OWiQCcxwv4h5iFxhq6TGx.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block"> language focus unit 3</p>
                                      <p class="title d-md-none font-smaller"> language focus unit 3</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="618">

  <div class="quiz-template-item">
      <a href="/tieng-anh/vocabulary-unit-3">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/7TNkVHoq43Asxxy1zfStCK2DbpPbUJDt.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Vocabulary unit 3</p>
                                      <p class="title d-md-none font-smaller">Vocabulary unit 3</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="619">

  <div class="quiz-template-item">
      <a href="/tieng-anh/language-focus-unit-4">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/v5K7v7ZHWwPDozCwMBjQcHSAxfQdfxRP.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block"> language focus unit 4</p>
                                      <p class="title d-md-none font-smaller"> language focus unit 4</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="620">

  <div class="quiz-template-item">
      <a href="/tieng-anh/vocabulary-unit-4">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/kfY5D0LpD_72q2rGWpxvk5gyanNUx7jN.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block"> vocabulary unit 4</p>
                                      <p class="title d-md-none font-smaller"> vocabulary unit 4</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="621">

  <div class="quiz-template-item">
      <a href="/tieng-anh/language-focus-unit-5">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/3nwyVXRvQb4CyqRYMKmA3s09jMZBO8HY.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Language focus unit 5</p>
                                      <p class="title d-md-none font-smaller">Language focus unit 5</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="622">

  <div class="quiz-template-item">
      <a href="/tieng-anh/vocabulary-unit-5">
          <img src="https://media.eduvietnam.vn/images/2021/08/09/6OwLudHjhmiMVN9YkT4bW6GNNUEqyo1Q.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block"> vocabulary unit 5</p>
                                      <p class="title d-md-none font-smaller"> vocabulary unit 5</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="624">

  <div class="quiz-template-item">
      <a href="/tieng-anh/language-focus-unit-6">
          <img src="https://media.eduvietnam.vn/images/2021/08/13/6iu0ewuAtd9wKmK-C9XG2haYNXijsXio.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Language focus unit 6</p>
                                      <p class="title d-md-none font-smaller">Language focus unit 6</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div>
  <div class="col-6 col-md-4 col-lg-3 mb-3 d-flex" data-key="625">

  <div class="quiz-template-item">
      <a href="/tieng-anh/vocabulary-unit-6">
          <img src="https://media.eduvietnam.vn/images/2021/08/13/-CUAE3AO-xj2zz53jmQZJ9FNWAAhsZwu.png"
               alt="" width="100%">
          <span class="quiz-template-content">
                                      <p class="title d-none d-md-block">Vocabulary unit 6</p>
                                      <p class="title d-md-none font-smaller">Vocabulary unit 6</p>
                                      <span class="d-flex mt-auto">
                                          <span class="d-flex flex-grow-1 align-items-center">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">15 phút</span>
                                              <span class="ml-1 d-md-none font-x-small">15 phút</span>
                                          </span>
                                          <span class="d-flex flex-grow-1 align-items-center">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
  </svg>
                                              <span class="ml-2 d-none d-md-block">10 câu</span>
                                              <span class="ml-1 d-md-none font-x-small">10 câu</span>
                                          </span>
                                          </span>
                                  </span>
      </a>
  </div>

  </div></div><nav id="w1"><ul class="pagination"><li class="page-item prev disabled"><a class="page-link" href="/quiz-template/index?subject=tieng-anh&amp;page=1" data-page="0" tabindex="-1"><span aria-hidden="true">&laquo;</span>
  <span class="sr-only">Previous</span></a></li>
  <li class="page-item active"><a class="page-link" href="/quiz-template/index?subject=tieng-anh&amp;page=1" data-page="0">1</a></li>
  <li class="page-item"><a class="page-link" href="/quiz-template/index?subject=tieng-anh&amp;page=2" data-page="1">2</a></li>
  <li class="page-item next"><a class="page-link" href="/quiz-template/index?subject=tieng-anh&amp;page=2" data-page="1"><span aria-hidden="true">&raquo;</span>
  <span class="sr-only">Next</span></a></li></ul></nav></div></div>
