<div class="container site-about my-3 my-md-5">
  <h4><b>Giới thiệu</b></h4>
  <p>Đội ngũ VieEdu với nhiều năm kinh nghiệm trong các lĩnh vực giáo dục và công nghệ cam kết đưa chất
      lượng giáo dục và bảo mật lên hàng đầu. Giáo dục theo định hướng phát triển năng lực đồng thời bảo mật
      thông tin của người dùng bằng một hệ thống ổn định, dễ sử dụng trên giao diện thân thiện. Sơ lược các
      tính năng hệ thống như sau:</p>


  <div>
      <div class="d-flex align-items-center">
          <img src="https://eduvietnam.vn/images/vie-icon.png" alt="" width="16px">
          <b class="text-success ml-2">1. Ngân hàng đề thi</b>
      </div>
      <ul class="mt-2">
          <li>Học sinh: Hệ thống tạo đề tự động từ ngân hàng đề thi theo cấu trúc đề kiểm tra, đề thi học kỳ,
              thi
              tốt
              nghiệp THPT theo định hướng phát triển năng lực học sinh, giúp người học có thể tự đánh giá năng
              lực
              của
              mình qua bài làm, hệ thống sẽ chấm tự động và cung cấp đáp án chi tiết tất cả câu hỏi.
          </li>
          <li>Thầy/cô giáo: Hỗ trợ xây dựng ngân hàng đề thi cá nhân, xuất đề kiểm tra miễn phí từ ngân hàng cho viêc kiểm
              tra
              trực
              tuyến cũng như trên lớp.
          </li>
      </ul>
  </div>
  <div>
      <div class="d-flex align-items-center">
          <img src="https://eduvietnam.vn/images/vie-icon.png" alt="" width="16px">
          <b class="text-success ml-2">2. Dạy & học trực tuyến</b>
      </div>
      <ul class="mt-2">
          <li>Hệ thống dạy học trực tuyến hàng đầu tại Việt Nam với các tính năng mới, ổn định và chuyên dụng cho
              ngành giáo
              duc.
          </li>
      </ul>
  </div>
  <div>
      <div class="d-flex align-items-center">
          <img src="https://eduvietnam.vn/images/vie-icon.png" alt="" width="16px">
          <b class="text-success ml-2">3. Ôn luyện theo chủ đề</b>
      </div>
      <ul class="mt-2">
          <li>Hệ thống chuyên đề đầy đủ bao gồm lý thuyết, bài tập vận dụng và bài tập luyện tập, tự đánh giá
              năng
              lực.
          </li>
          <li>Ôn luyện theo định hướng của học sinh, chỉ tiêu đặt ra với từng môn học.
          </li>
          <li>Học sinh có thể tham gia các lớp ôn thi theo chuyên đề, ôn thi THPT Quốc gia miễn phí.</li>
      </ul>
  </div>
  <div>
      <div class="d-flex align-items-center">
          <img src="https://eduvietnam.vn/images/vie-icon.png" alt="" width="16px">
          <b class="text-success ml-2">4. Hỗ trợ Quản Lý</b>
      </div>
      <ul class="mt-2">
          <li>Hỗ trợ Ban giám hiệu nhà trường quản lý hoạt động giáo dục trực tuyến.
          </li>
          <li>Khảo thí trực tuyến: BGH, thầy/cô giáo, học sinh nhận ngay kết quả khi học sinh hoàn thành bài
              làm.
          </li>
          <li>Quản lý hoạt động giáo dục của thầy/cô giáo và hoạt động của nhân viên.</li>
          <li>Chuyển tải các thông báo quan trọng trong việc giáo dục nhanh chóng kịp thời bằng cách đơn giản
              nhất
              đến từng cá nhân trong nhà trường và Phụ huynh học sinh.
          </li>
      </ul>
  </div>
  <div>
      <div class="d-flex align-items-center">
          <img src="https://eduvietnam.vn/images/vie-icon.png" alt="" width="16px">
          <b class="text-success ml-2">5. Các ứng dụng giáo dục</b>
      </div>
  </div>
  <ul class="mt-2">
      <li>Ứng dụng VieEdu Student: Dành cho học sinh.</li>
      <li>Ứng dụng VieEdu Teacher: Dành cho thầy/cô giáo.</li>
      <li>Ứng dụng VieEdu Parents: Dành cho phụ huynh học sinh.</li>
      <li>Ứng dụng VieEdu Principal: Dành cho ban giám hiệu.</li>

  </ul>


</div>

